apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: court-management
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
